-# cofing: UTF-8
!!!
%html
  %head
    %title= '枠Work'
    = stylesheet_link_tag 'bootstrap.min'
    = javascript_include_tag 'jquery', 'bootstrap.min'
    %meta{:name => 'viewport', :content => 'width=device-width, initial-scale=1.0' }
  %body
    %div(class='container')
      = haml :header

      %h3 ログイン
      - if @current_account == nil
        =link_to('Twitterでログイン', '/auth/twitter')
      - else
        %p
          =link_to('Mypageはこちら', '/mypage')
        %p
          =link_to('ログアウトはこちら', '/logout')

      %div
        = haml :footer
