-# cofing: UTF-8
!!!
%html
  %head
    %title= 'misterioso'
    = stylesheet_link_tag 'bootstrap.min'
    = javascript_include_tag 'jquery', 'bootstrap.min'
  %body
    %div(class='container')
      = haml :header

      - if @current_account == nil
        =link_to('Twitterでログイン', '/auth/twitter')
      - else
        =link_to('Mypageはこちら', '/mypage')

      = haml :footer
