-# cofing: UTF-8
!!!
%html
  %head
    %title= 'misterioso'
    = stylesheet_link_tag 'bootstrap.min'
    = javascript_include_tag 'jquery', 'bootstrap.min'
  %body
    #header
      = haml :header

    #container
      %p 名前: #{current_account.character.name}
      %p 所持金: #{current_account.character.money}ゴールド
      %p スタミナ: #{current_account.character.ap} / #{current_account.character.max_ap}
      %p スタミナは1分ごとに1回復します。
      %p
        =link_to('働く', '/work')

    #footer
      = haml :footer
