-# cofing: UTF-8
!!!
%html
  %head
    %title= '枠Work'
    = stylesheet_link_tag 'bootstrap.min'
    = javascript_include_tag 'jquery', 'bootstrap.min'
    %meta{:name => 'viewport', :content => 'width=device-width, initial-scale=1.0' }
  %body
    %div(class='container')
      = haml :header

      %h3 ステータス

      %p 名前: #{current_account.character.name}
      %p
        装備品:
        %font(color="#{equipment_color current_account.character}")#{equipment_name current_account.character}
      %p 戦闘力: #{current_account.character.power}(#{current_account.character.power_rank}位)
      %p 所持金: #{current_account.character.money}ゴールド(#{current_account.character.money_rank}位)
      %p スタミナ: #{current_account.character.ap} / #{current_account.character.max_ap}
      %p(style="text-indent:2em;") スタミナは2分ごとに1回復します。

      %hr
      %h3 アクション
      - if @current_account.character.ap >= 3
        %p
          =link_to('働く', '/work')
        %p(style="text-indent:2em;")
          スタミナを3消費して、お金をいくらかゲット！
      - else
        %p
          %font(color='gray')働く
          %b [スタミナが足りません]
        %p(style="text-indent:2em;")
          スタミナを3消費して、お金をいくらかゲット！

      - if @current_account.character.money >= 300
        %p
          =link_to('ガチャる', '/gacha')
        %p(style="text-indent:2em;")
          300ゴールド消費して、カードをゲット！
      - else
        %p
          %font(color='gray')ガチャる
          %b [お金が足りません]
        %p(style="text-indent:2em;")
          300ゴールド消費して、カードをゲット！

      - if @current_account.character.money >= 1000
        %p
          =link_to('お参りする', '/osaisen')
        %p(style="text-indent:2em;")
          お賽銭に1000ゴールドいれて、目標金額ピッタリにした人だけレアカードゲット！
      - else
        %p
          %font(color='gray')お参りする
          %b [お金が足りません]
        %p(style="text-indent:2em;")
          お賽銭に1000ゴールドいれて、目標金額ピッタリにした人だけレアカードゲット！
      %p(style="text-indent:2em;")
        目標金額まで
        #{Jinja.nokori}
        ゴールド

      - if @current_account.character.not_equipping_card_ids.count >= 1
        %p
          =link_to('風呂る', '/ohuro')
        %p(style="text-indent:2em;")
          カードをランダムで1枚消費して、最大スタミナを1増加+スタミナ1回復。装備品は溶けなくなった。
      - else
        %p
          %font(color='gray')風呂る
          %b [カードが足りません]
        %p(style="text-indent:2em;")
          カードをランダムで1枚消費して、最大スタミナを1増加+スタミナ1回復。装備品は溶けなくなった。

      %hr
      %h3 所持カード
      #cards= partial 'base/card', :collection => @current_account.character.cards

      %div
        = haml :footer
